{% extends 'user_base.html' %}
{% block title %}Login{% endblock %} 
{% block container %}


<div class=''>
  <div class="mt-2 d-flex justify-content-center text-success">
    {% if message %} * {{ message }} {% endif %}
  </div>
  <div class="mt-2 d-flex justify-content-center">
    <h3>CareOps | Login</h3>
  </div>
  <div class="mt-2 d-flex justify-content-center text-danger">
    {% if error_message %} * {{ error_message }} {% endif %}
  </div>
  <div class="m-3 d-flex justify-content-center">
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}

      <div class="form-group">
        <label >Username:</label>
        <input
          type="text"
          class="form-control"
          name="username"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
