{% extends 'base.html' %} 
{% block title %}Add {{title}}{% endblock %} 
{% block container %}
<div class="mt-2 grid grid-cols-1 sm:grid-cols-3 gap-4">
  <div class="bg-white shadow-md p-4 rounded-lg">
    <h2 class='text-center text-2xl mb-2'>Add {{ title }}</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      {% if title == 'Client' %}
        <label class="block mb-1 text font-medium text-gray-900 dark:text-white" for="contract">Daily Rate:</label>
        <div class='flex'>
        <input placeholder='Description' name='daily_rate_desc' class="me-2 shadow-sm mb-2 mt-1 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-100 focus:border-blue-100 block w-50 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <input placeholder='Amount' name="daily_rate_amount" class=" shadow-sm mb-2 mt-1 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-100 focus:border-blue-100 block p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" step=".0001"  aria-describedby="contract_help" id="contract" type="number">
        </div>
	{% comment %}
        <label class="mb-1 text font-medium text-gray-900 dark:text-white" for="contract">Upload Contract:</label>
        <input name="contract_document" class=" w-full text-sm text-gray-900 border rounded border-gray-300 cursor-pointer bg-white dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="contract_help" id="contract" type="file">
        <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="contract_help">Contract signed and agreed with the authority or client.</div>
      {% endcomment %}
    {% endif %}
      <button type="submit" class="mt-2 text-center text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg border text-sm px-2 py-2 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-600 focus:outline-none dark:focus:ring-blue-800">Submit</button>
    </form>
  </div>
  <div class='grid grid-cols-1 col-span-2 h-fit'>
    {% if title == 'One To One' %}
    <div class="mb-4 justify-self-end bg-white rounded-lg shadow p-4  ">
        <h3 class=" text-center mb-2 text-xl w-full">Actions</h3>
        <a
           href="{% url 'download_all_one_to_ones' %}"
           class="text-center text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-600 focus:outline-none dark:focus:ring-blue-800"
           >Dowload all</a
         >
         <a
           href="{% url 'download_this_months_one_to_ones' %}"
           class="text-center text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-600 focus:outline-none dark:focus:ring-blue-800"
           >Dowload {% now "F-y" %}
         </a> 
     </div>
     {% endif %}
    <div class=' bg-white shadow p-4 rounded-lg h-fit'>
        <h2 class='text-center text-2xl mb-2'>Current {{ title }}s</h2>
        <div class="relative overflow-x-auto shadow sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        {% for key in objects.0.keys %}
                            {% if key != 'id' %}
                                <th scope="col" class="px-6 py-3 {% if forloop.first %}bg-gray-50 border-e sticky left-0{% endif %}">{{ key|capfirst }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    
                </thead>
                <tbody>
                    {% for obj in objects %}
                        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            {% for key, value in obj.items %}
                                {% if key != 'id' %}
                                    {% if value|date %}
                                        <td class="px-6 py-4 {% if forloop.first %}bg-gray-50 border-e sticky left-0{% endif %}">{{ value|date:"d-m-Y" }}</td>
                                    {% else %}
                                        <td class="px-6 py-4 {% if forloop.first %}bg-gray-50 border-e sticky left-0{% endif %}">
                                        {% if value|length > 100 and key == 'rates' %}
                                            <div id="truncated-text-{{obj.id}}" class="">{{ value|slice:":100" }} ...</div>
                                            <div id="full-text-{{obj.id}}" style="display:none;">{{ value }}</div>
                                            <button id="more-button-{{obj.id}}" class="text-blue-600 hover:text-blue-800 hover:underline" onclick="toggleMore({{obj.id}});">Show All</button>
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
    
</div>
</div>
<script>
   

    function toggleMore(id) {
        const moreButton = document.getElementById("more-button-"+id)
        const fullText = document.getElementById("full-text-"+id);
        const truncatedText = document.getElementById("truncated-text-"+id);

        

        if (moreButton.innerText == 'Show All') {
            fullText.style.display = 'block';
            truncatedText.style.display='none';
            moreButton.innerText = "Show Less";
            
        } else {
            fullText.style.display = 'none';
            truncatedText.style.display='block';
            moreButton.innerText = "Show All";
        }
    }
       
  
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const clientTypeField = document.querySelector("#id_client_type");
        const payableByLabel = document.querySelector("label[for='id_payable_by']");
        const payableByField = document.querySelector("#id_payable_by");
        const refNumLabel = document.querySelector("label[for='id_resident_name_number']");
        const refNumField = document.querySelector("#id_resident_name_number");

        clientTypeField.addEventListener("change", function() {
            if (this.value === "private_funded") {
                payableByLabel.style.display = "none";
                payableByField.style.display = "none";
                refNumLabel.style.display = "none";
                refNumField.style.display = "none";
            } else {
                payableByLabel.style.display = "block";
                payableByField.style.display = "block";
                refNumLabel.style.display = "block";
                refNumField.style.display = "block";
            }
        });

        // Trigger change event on page load to check initial value
        clientTypeField.dispatchEvent(new Event("change"));
    });
</script>

 


{% endblock %}
