{% extends 'base.html' %}

{% block title %}Allocate Funds{% endblock %}

{% block container %}
<div class='p-4 bg-white rounded-lg'>
{% if money_in_objects %}
<h2 class="text-xl font-bold mb-4">Allocate Funds</h2>

<table class="table-auto border-collapse w-full">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400" >

        <tr >
            <th class="px-4 py-2">Date</th>
            <th class="px-4 py-2">Payment Type</th>
            <th class="px-4 py-2">Description</th>
            <th class="px-4 py-2">Amount</th>
            <th class="px-4 py-2">Balance Left</th>
            <th class="px-4 py-2">Select Unsettled Invoice</th>
            <th class="px-4 py-2">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for money_in_object in money_in_objects %}
        <tr class="border-b">
            <td class="px-4 py-2">{{ money_in_object.date|date:"d-m-Y" }}</td>
            <td class="px-4 py-2">{{ money_in_object.payment_type }}</td>
            <td class="px-4 py-2">{{ money_in_object.desc }}</td>
            <td class="px-4 py-2">{{ money_in_object.amount }}</td>
            <td class="px-4 py-2">{{ money_in_object.balance_left }}</td>
            <td class="px-4 py-2">
                <form method="post" action="{% url 'allocate_money_in' money_in_object.id %}">
                    {% csrf_token %}
                    <select class="form-select block w-full mt-1 border rounded-lg" name="unsettled_invoices" multiple size="3">
                        {{options_html}}
                    </select>
            </td>
            <td class="px-4 py-2">
                <button class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-lg" type="submit">Allocate</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div
      class=" p-4 text-sm -green-800 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
      role="alert"
    >
      <span class="font-medium">No monies available to allocate</span>
    </div>
{% endif %}
</div>

{% endblock %}
