{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} {% block container %}
<div
  class="grid grid-cols-1 {% if user.is_invoice_department %}md:grid-cols-3{% else %}md:grid-cols-2{% endif %} gap-4"
    >
  
  {% if user.is_invoice_department %}
  <div class="bg-white shadow-md p-4 rounded-lg h-fit">
    <h3 class="text-2xl text-center mb-1">Invoices</h3>
    <canvas class="" id="invoices_chart"></canvas>
    <div class=" mt-3 grid grid-cols-1">
        <div class='justify-self-center'>
            {% comment %} <a
                href="{% url 'invoices_list' %}"
                class="text-center  text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-600 focus:outline-none dark:focus:ring-blue-800"
                >Invoices</a
            >
            <a
                href="{% url 'add_credit_note' %}"
                class="text-center text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-600 focus:outline-none dark:focus:ring-blue-800"
                >Add Credit Note</a
            > {% endcomment %}
        </div>
    </div>
  </div>
  <div class="bg-white shadow-md p-4 rounded-lg">
    <h3 class="text-2xl text-center mb-1">Revenue</h3>
    <canvas id="revenue_chart"></canvas>
    <div class="mt-3 grid grid-cols-1">
      <div class="justify-self-center">
        {% comment %} <a
          href="{% url 'monies_in' %}"
          class="text-center text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-600 focus:outline-none dark:focus:ring-blue-800"
          >Unallocate Funds</a
        >

        <a
          href="{% url 'add_money_in' %}"
          class="text-center text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-600 focus:outline-none dark:focus:ring-blue-800"
          >Add Money In</a
        > {% endcomment %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="bg-white shadow-md p-4 rounded-lg">
    <h3 class="text-2xl text-center mb-1">One To Ones</h3>
    <canvas id="one_to_one_chart"></canvas>
    <div class="mt-2 grid grid-cols-1">
      <div class="justify-self-center">
        {% comment %} <a
          href="{% url 'download_all_one_to_ones' %}"
          class="text-center text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-600 focus:outline-none dark:focus:ring-blue-800"
          >Dowload all</a
        >
        <a
          href="{% url 'download_this_months_one_to_ones' %}"
          class="text-center text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-600 focus:outline-none dark:focus:ring-blue-800"
          >Dowload {% now "F-y" %}
        </a> {% endcomment %}
      </div>
    </div>
  </div>

<div class="grid grid-cols-2  gap-4 {% if user.is_invoice_department %}col-span-3{% endif %}">
{% if user.is_invoice_department %}


  <div class="bg-white shadow-md p-4 rounded-lg h-fit">
    <h3 class="text-2xl text-center mb-1 w-full">
      Unsettled Invoices <span class='float-end text-xs text-gray-500 p-1 px-2 bg-gray-200 rounded-lg'> more than 1 month</span>
    </h3>
    {% if unsettled_overdue_invoices %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Invoice Number</th>
            <th scope="col" class="px-6 py-3">Client Name</th>
            <th scope="col" class="px-6 py-3">Date</th>
            <th scope="col" class="px-6 py-3">Costs</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in unsettled_overdue_invoices %}
          <tr
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 -b dark:-gray-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{invoice.invoice_number}}
            </th>
            <td class="px-6 py-4">{{invoice.client.name}}</td>
            <td class="px-6 py-4">{{invoice.date|date:"d-m-Y"}}</td>
            <td class="px-6 py-4">£{{invoice.costs}}</td>
            <td class="px-6 py-4">
              <a
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                href="{% url 'download_invoice' invoice.invoice_number %}"
                >Download</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div
      class="mt-4 p-4 mb-4 text-sm -green-800 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
      role="alert"
    >
      <span class="font-medium">No Invoices Super Over Due</span>
    </div>
    {% endif %}
  </div>
  {% endif %}
  <div class="bg-white shadow-md p-4 rounded-lg {% if user.is_invoice_department != True %}col-span-2{% endif %}">
    <h3 class="text-2xl text-center mb-1">{% now "F" %} Bed Occupancy</h3>
    <canvas id="chart"></canvas>
    <div class=" mt-2 grid grid-cols-1">
      {% comment %} <a
        href="{% url 'clients_attendance' %}"
        class="justify-self-center md:justify-self-end text-center text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-600 focus:outline-none dark:focus:ring-blue-800"
      >
        Mark Attendance
      </a> {% endcomment %}
    </div>
  </div>
</div>
</div>


<script>
  // Fetch data from the Django view
  let invoicesCtx = document.getElementById("invoices_chart").getContext("2d");
  let invoicesChart = new Chart(invoicesCtx, {
    type: "doughnut",
    options: {
      responsive: true,
      aspectRatio: 2,
      title: {
        display: true,
        text: "Test",
      },
    },
  });

  $(document).ready(function () {
    loadChart(invoicesChart, "/invoices/data/");
    function loadChart(chart, endpoint) {
      $.ajax({
        url: endpoint,
        type: "GET",
        dataType: "json",
        success: (jsonResponse) => {
          console.log(jsonResponse);

          const title = jsonResponse.title;
          const labels = jsonResponse.data.labels;
          const datasets = jsonResponse.data.datasets;

          chart.options.title.display = true;

          chart.options.title.text = title;

          chart.data.labels = labels;

          datasets.forEach((dataset) => {
            chart.data.datasets.push(dataset);
          });
          chart.update();
        },
        error: () =>
          console.log("Failed to fetch chart data from " + endpoint + "!"),
      });
    }
  });
</script>
<script>
  // Fetch data from the Django view
  let numberOfBedsOccupiedCtx = document
    .getElementById("chart")
    .getContext("2d");
  let numberOfBedsOccupiedChart = new Chart(numberOfBedsOccupiedCtx, {
    type: "line",
    options: {
      responsive: true,
      title: {
        display: true,
        text: "Test",
      },
    },
  });

  $(document).ready(function () {
    loadAttendanceChart(numberOfBedsOccupiedChart, "/attendance/data/");
    function loadAttendanceChart(chart, endpoint) {
      $.ajax({
        url: endpoint,
        type: "GET",
        dataType: "json",
        success: (jsonResponse) => {
          // Extract data from the response
          const title = jsonResponse.title;
          const labels = jsonResponse.data.labels[0];
          const datasets = jsonResponse.data.datasets;
          console.log(datasets);
          chart.options.title.display = true;

          chart.options.title.text = title;

          chart.data.labels = labels;

          datasets.forEach((dataset) => {
            chart.data.datasets.push(dataset);
          });
          chart.update();
        },
        error: () =>
          console.log("Failed to fetch chart data from " + endpoint + "!"),
      });
    }
  });
</script>
<script>
  // Fetch data from the Django view
  let oneToOneCtx = document
    .getElementById("one_to_one_chart")
    .getContext("2d");
  let oneToOneChart = new Chart(oneToOneCtx, {
    type: "bar",
    options: {
      responsive: true,
      title: {
        display: true,
        text: "Test",
      },
    },
  });

  $(document).ready(function () {
    loadOneToOneChart(oneToOneChart, "/one_to_ones/data/");
    function loadOneToOneChart(chart, endpoint) {
      $.ajax({
        url: endpoint,
        type: "GET",
        dataType: "json",
        success: (jsonResponse) => {
          // Extract data from the response
          const title = jsonResponse.title;
          const labels = jsonResponse.data.labels[0];
          const datasets = jsonResponse.data.datasets;
          console.log(datasets);
          chart.options.title.display = true;

          chart.options.title.text = title;

          chart.data.labels = labels;

          datasets.forEach((dataset) => {
            chart.data.datasets.push(dataset);
          });
          chart.update();
        },
        error: () =>
          console.log("Failed to fetch chart data from " + endpoint + "!"),
      });
    }
  });
</script>
<script>
  // Fetch data from the Django view
  let revenueCtx = document.getElementById("revenue_chart").getContext("2d");
  let revenueChart = new Chart(revenueCtx, {
    type: "line",
    options: {
      responsive: true,
      title: {
        display: true,
        text: "Test",
      },
    },
  });

  $(document).ready(function () {
    loadRevenueChart(revenueChart, "/revenue/data/");
    function loadRevenueChart(chart, endpoint) {
      $.ajax({
        url: endpoint,
        type: "GET",
        dataType: "json",
        success: (jsonResponse) => {
          console.log(jsonResponse);
          // Extract data from the response
          const title = jsonResponse.title;
          const labels = jsonResponse.labels;
          const datasets = jsonResponse.datasets;

          chart.options.title.display = true;

          chart.options.title.text = title;

          chart.data.labels = labels;

          datasets.forEach((dataset) => {
            chart.data.datasets.push(dataset);
          });
          chart.update();
        },
        error: () =>
          console.log("Failed to fetch chart data from " + endpoint + "!"),
      });
    }
  });
</script>

{% endblock %}
